/* body {
  background-color: blue;
}
@media screen and (min-width: 480px) {
  body {
    background-color: red;
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: green;
  }
} */
body {
  background-color: antiquewhite;
}
nav {border: 2px solid chocolate;}
.home {
  display: grid;
}
.menu {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media screen and (min-width:600px) {
  .home {
    grid-template-columns: 1fr 2fr;
    gap: 15px
    ;
  }
  .menu {
    flex-direction: column;
    grid-column: 1/2;
    align-items: center;
  }
 .section {
  grid-column: 2/3;
 }
}